@import url('https://fonts.googleapis.com/css?family=Work+Sans:600,300');

html, body {
  font-weight: 400;
  font-family: $f-def;
  overflow-x: hidden;
  background-color: #e9e0d6;
  color: rgba(0, 0, 0, .7);
}

.container {
  width: 1140px;
  padding: 0;
  @include max (1140) {
    width: 100%;
    padding: 0 15px;
  }
}

.bg--blue {
  background-color: #00a3e1;
}

.bg--white {
  background-color: $col-white;
}

.bg--green {
  background-color: $green;
}

.bg--dark--gray {
  background-color: $dark-gray;
}

.uppercase {
  text-transform: uppercase;
}

main {
  min-height: 100vh;
}

.login-box {
  border: 1px solid #38475B;
  background-color: $dark-gray2;
  color: $col-white;
  border-radius: 5px;

  h1 {
    font-size: 2em;
  }

  hr {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #38475B;
  }

  label {
    font-size: .8em;
    display: block;
  }

  .inp {
    position: relative;
    width: 100%;
    max-width: 280px;

    input {
      -webkit-appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 12px 0;
      height: 48px;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 2px solid #c8ccd4;
      background: none;
      border-radius: 0;
      color: $col-white;
      transition: all 0.15s ease;

      &:hover {
        background: rgba(34, 50, 84, 0.03);
      }

      &:not(:placeholder-shown) + span {
        color: #5a667f;
        transform: translateY(-26px) scale(0.75);
      }

      &:focus {
        background: none;
        outline: none;
      }

      &:focus + span {
        color: $col-white;
        transform: translateY(-26px) scale(0.75);
      }

      &:focus + span + .border {
        transform: scaleX(1);
      }
    }

    .label {
      position: absolute;
      top: 16px;
      left: 0;
      font-size: 14px;
      color: #9098a9;
      font-weight: 500;
      transform-origin: 0 0;
      transition: all 0.2s ease;
    }

    .border {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #07f;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.15s ease;
    }
  }


}

.main-manu {
  width: 60px;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: #1C293B;
  display: flex;
  flex-wrap: wrap;
  align-content: start;

  .logo {
    color: $col-white;


  }

  .box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .1s ease-in-out;

    &:hover {
      background-color: #33455f;
    }
  }

  .fa-home, .fa-chart-pie, .fa-cogs {
    width: 20px;
  }
}


.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: $dark-gray3;
  border-bottom: 1px solid #707070;

  .box {
    transition: background-color .1s ease-in-out;
    border-right: 1px solid #707070;
    border-left: 1px solid #707070;
    height: 60px;
    width: 60px;
    cursor: pointer;

    &:hover {
      background-color: #33455f;
    }
  }

  .fa-sort-down {
    width: 10px;
  }
}

.tooltip-avatar {
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.balance-item {
  grid-area: balance;
}

.item-b {
  grid-area: main;
}

.item-c {
  grid-area: sidebar;
}

.item-d {
  grid-area: footer;
}

.main-content {
  padding: 80px 20px 20px 80px;
  min-height: 100vh;
  background: $dark-gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  align-items: start;
  justify-items: center;

  .grid-box {
    background: $dark-gray2;
    border: 1px solid #38475B;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
      grid-row: span 1;
    }

    &:nth-child(4) {
      grid-row: span 2;
    }

    &:nth-child(5) {
      grid-row: span 2;
    }

    &:nth-child(6) {
      grid-column: span 2;
      grid-row: span 5;
    }

    &:nth-child(7) {
      grid-row: span 4;
    }

    .title {
      font-size: 18px;
      padding: 15px 30px;
      font-weight: 600;
      border-bottom: 1px solid #38475B;
    }

    .category-name {
      color: #98A9BC;
    }
  }
}

.spent-box {
  padding: 10px 20px;
  border: 1px solid #38475B;
  border-radius: 5px;
  min-width: 150px;
}

.my-card {
  background: url("../img/bg-card.png") 50% 50% / cover no-repeat;
  background-color: #0154C8;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.spending-card {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: linear-gradient(to right, #1CA7E8, #0154C8);
}

.payment-analysis {
  .box {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #707070;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 25px;
    }

    .icon {
      width: 40px;
      height: 40px;
      background-color: #1A537D;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .category-name {
      color: #98A9BC;
    }
  }
}

.transaction-item {
  margin-top: 10px;
  padding: 10px 0;
  cursor: pointer;
  transition: all .5s;
  border-bottom: 1px solid #38475B;
  display: grid;
  grid-template-columns: 60px auto 25% 25% 30px;
  align-items: center;

  .manage-icons {
    opacity: 0;
    transition: all .2s;
  }

  .icon {
    width: 40px;
    height: 40px;
    background-color: #1A537D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-transaction {
    font-weight: 400;
    font-size: 16px;
  }

  input {
    background: none;
    border-bottom: 1px solid gray;
  }

  &:hover {
    border-bottom: 1px solid #0093ee;

    .manage-icons {
      opacity: 1;
    }
  }

}

.fa-edit, .fa-trash, .eye-icon, .fa-check, .fa-times {
  transition: all .2s;

  &:hover {
    transform: scale(1.2);
  }
}

.transaction-item-detail {
  padding: 10px 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 140px 1fr 30px 30px;
  align-items: center;

  .manage-icons {
    opacity: 0;
    transition: all .2s;
  }

  .title-transaction {
    font-weight: 400;
    font-size: 16px;
  }

  input {
    background: none;
    border-bottom: 1px solid gray;
  }

}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  .popup_inner {
    width: calc(100% - 50px);
    max-width: 650px;
    position: relative;
    background: #26374C;
    border: 1px solid #38475B;
    border-radius: 5px;

    .title {
      font-size: 18px;
      padding: 15px 30px;
      font-weight: 600;
      border-bottom: 1px solid #38475B;
    }

    //input {
    //  color: rgba(0, 0, 0, 0.7);
    //  font-family: inherit;
    //  font-size: 1em;
    //  width: 100%;
    //  padding: 10px 0;
    //  border-bottom: 1px solid $gray;
    //
    //}
    option {
      color: $col-black;
    }

    input, select {
      //-webkit-appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 12px 0;
      height: 48px;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 2px solid #c8ccd4;
      background: none;
      border-radius: 0;
      color: $col-white;
      transition: all 0.15s ease;

      &:hover {
        background: rgba(34, 50, 84, 0.03);
      }

      &:not(:placeholder-shown) + span {
        color: #5a667f;
        transform: translateY(-26px) scale(0.75);
      }

      &:focus {
        background: none;
        outline: none;
      }

      &:focus + span {
        color: $col-white;
        transform: translateY(-26px) scale(0.75);
      }

      &:focus + span + .border {
        transform: scaleX(1);
      }
    }

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid $gray;
    }
  }
}
