.btn {
  line-height: 100%;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Work Sans';

  &--blue {
    background: $blue;
    color: $col-white;

    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }

  &--green {
    background: $green;
    color: $col-white;

    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }

  &--yellow {
    background-color: #d6d600;
    color: $col-white;

    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }

  &--white {
    background: $col-white;
    border: 3px solid $col-white;

    &:hover {
      opacity: .75;
      transition: .5s;
      border: 3px solid gray;
    }
  }

  &--quantitiy {
    padding: 10px;
    border: 2px solid #0093ee;
    transition: all .2s;
    background: transparent;
    min-width: 15px;
    color: $col-white;

    &:hover, &.act {
      background-color: #0093ee;
    }
  }

  &--red {
    color: $red;

    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }

  &--add--trans {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }

  &--cancel {
    background-color: transparent;
    border: 2px solid $red;
    color: $red;
    font-weight: 700;
    padding: 10px 35px;
    transition: all .5s;

    &:hover {
      background-color: $red;
      color: $col-white;

    }
  }

  &--submit {
    background-color: transparent;
    border: 2px solid $green;
    color: $green;
    font-weight: 700;
    padding: 10px 35px;
    transition: all .5s;

    &:hover {
      background-color: $green;
      color: $col-white;

    }
  }

}
