@mixin transition($args...) {
  transition: $args;
}

@mixin animation($args...){
  animation: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin overlay($color, $opacity: 0.6) {
  background-color: rgba($color, $opacity);
}

@function grid($itemUnits, $gridUnits:7){
  // @return 100% * ( $itemUnits / $gridUnits );
  $precize: 10000; // 100.00%
  $tmp: floor( ( $itemUnits / $gridUnits ) * $precize );
  @if( $tmp % 2 != 0 ){
    @return percentage( ( $tmp - 1 ) / $precize );
  }
  @return percentage( $tmp / $precize );
}

@mixin max($size) {
  @media only screen and (max-width : $size + px) { @content; }
}

@mixin min($size) {
  @media only screen and (min-width : $size + px) { @content; }
}

@mixin gradientY($bg1, $bg2){
  background: $bg1;
  background: linear-gradient(to bottom,  $bg1 0%,$bg2 100%); /* W3C */
}

@mixin gradientX($bg1, $bg2){
  background: $bg1;
  //background: -ms-linear-gradient(left,  $bg1 0%,$bg2 100%); /* IE10+ */
  background: linear-gradient(to right,  $bg1 0%,$bg2 100%); /* W3C */
}

@mixin inputFocus($x, $time, $delay) {
  transition: text-indent $time + s $delay + s ease-out;
  text-indent: $x;
}

@mixin scale($option){
  transform: scale($option);
}

@mixin border($size, $color){
  box-shadow: inset 0 0 0 $size + px $color;
}