html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  outline: 0;
  //font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  &:focus::-webkit-input-placeholder {
    opacity: 0
  }
  &:focus::-moz-placeholder {
    opacity: 0
  }
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '\201E';
  }
  &:after {
    content: '\201D';
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

li, li a, a {
  color: inherit;
  font-size: inherit;
  line-height: inherit
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

a {
  background-color: transparent;
  &:active, &:hover {
    outline-width: 0;
  }
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.55;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

img {
  user-select: none;
  transform: translateZ(0);
  display: block;
  border-style: none;
}

button{
  background-color: transparent;
}